header {
  height: 100px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #CCCCCC;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-container {
	  margin-left: auto;
  }

.logo {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 200px;
        height: auto;
        padding-left: 40px;
}

.link {
	
}
