<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/blog.css" type="text/css" rel="stylesheet">
    <link rel="icon" type="image/png" href="Linky_icon.PNG">
    <title>Linky</title>
</head>
<body>
    <header>
	    <a href='http://34.207.156.159:3000/'><img class="logo" src="static/Asset 3.png" alt="Logo" ></a>
	</header>
<div class="container">
  <aside class="aside">
  <div class="menu-toggle">
    <span class="toggle-icon">&#9776;</span>
  </div>
  <nav class="side-menu">
	<h2>Latest Posts</h2>
	<hr>
    <ul>
      <li><button class="menu-button add-button">Linky Blog Post ALX<span class="symbol">>></span> </button></li>
    </ul>
   </nav>
  </aside>

    <main class="blog-container">
        <article class="article-container">
            <h2>My Dearest Sweetheart, Ify</h2>
            <p class="published-on">Published on June 20, 2023</p>

            <div>
                <p>
				My Dearest Sweeeeeetheart Ify,
				I'm deeply sorry for the loss of your grandpa.
				May cherished memories of him bring you comfort 
				during this difficult time. Remember, he will always 
				live on in your heart, guiding and watching over you. 
				Lean on your loved ones for support, and know that I'm 
				here for you too. Sending you strength and warm thoughts
				during this period of grieving. Take care.
				</p>
				<div class="image-container">
					<img src="C:\Users\Shater Hilary\Documents\JSON\WhatsApp Image 2023-04-03 at 10.18.53.jpg">
				</div>
				<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauri
				s hendrerit tortor turpis, id dictum mi eleifend eu. Sed pellentesque
				vel risus id sagittis. Suspendisse suscipit consectetur metus, vel 
				condimentum magna. Sed gravida purus eu justo pulvinar consectetur. 
				Suspendisse potenti. Nulla rutrum purus sit amet mi iaculis eleifend.
				Ut ac consectetur sem.
				</p>
				<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauri
				s hendrerit tortor turpis, id dictum mi eleifend eu. Sed pellentesque
				vel risus id sagittis. Suspendisse suscipit consectetur metus, vel 
				condimentum magna. Sed gravida purus eu justo pulvinar consectetur. 
				Suspendisse potenti. Nulla rutrum purus sit amet mi iaculis eleifend.
				Ut ac consectetur sem.
				</p>

                <p>
				Nam tincidunt, mi nec molestie luctus, nisl turpis malesuada nibh,
				at volutpat sem erat ac est. Proin sed dignissim leo, in elementum tellus. 
				In hac habitasse platea dictumst. Morbi maximus massa vel enim efficitur sagittis. 
				Duis nec metus fringilla, tempus ipsum sed, egestas nibh. Suspendisse potenti. 
				Vestibulum auctor bibendum magna, id consequat sem scelerisque vitae. Cras finibus
				velit vel elit blandit, auctor suscipit lorem iaculis. Integer sed tellus metus. 
				Fusce rhoncus efficitur risus ac molestie.
				</p>
            </div>
        </article>
    </main>
</div>
    <footer>
		<div class="footer-container">
			<h6 class="footer-text">&copy; 2023 Linky. All rights reserved.</h6>
		</div>
    </footer>


<script>
  // JavaScript code here
const toggleIcon = document.querySelector('.toggle-icon');
const sideMenu = document.querySelector('.side-menu');

toggleIcon.addEventListener('click', function() {
  sideMenu.classList.toggle('show-menu');
});

</script>
</body>
</html>
</html>
