<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Linky - Home</title>
</head>
<body>  
    <h3>All contacts:</h3>
    <div class="container">
   <aside class="aside">
  <div class="menu-toggle">
    <span class="toggle-icon">&#9776;</span>
  </div>
  <nav class="side-menu">
    <ul>
      <li><button class="menu-button add-button">Add New Link<span class="symbol">+</span> </button></li>
      <li><button class="menu-button update-button">Update Link<span class="symbol">&gt;</span> </button></li>
      <li><button class="menu-button delete-button">Delete Link<span class="symbol">-</span> </button></li>
    </ul>
   </nav>
  </aside>
  {% for item in k %}
  <div class="card-container">
    <div class="card">
      <img src="image-url.jpg" alt="Card Image" class="card-image">
      <div class="card-content">
	      <h2 class="card-title">{{ item["name"] }}</h2>
              <span class="card-skill">Specializes in: {{ item["skill"] }}</span>
	      <p class="card-description">Employer: {{ item["employer"] }}  Location:{{ item["location"] }} </p>
	      <a href="#" class="card-link">More >></a>
      </div>
    </div>
   </div>
   {% endfor %}
</body>
</html>
